<html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>
<script type="text/javascript">
var canvas, ctx, flag = false,
    prevX = 0,
    currX = 0,
    prevY = 0,
    currY = 0,
    dot_flag = false;
    var x = "white",
    y = 12;

function change_label(){
    document.getElementById("pre").innerHTML = "Predicting..";
    }
function init() {
    flag = false
    canvas = document.getElementById('can');
    ctx = canvas.getContext("2d");
    ctx.fillStyle = "black";
    ctx.fillRect(0, 0, canvas.width, canvas.height);
    w = canvas.width;
    h = canvas.height;

    canvas.addEventListener("mousemove", function (e) {
        findxy('move', e)
    }, false);
    canvas.addEventListener("mousedown", function (e) {
        findxy('down', e)
    }, false);
    canvas.addEventListener("mouseup", function (e) {
        findxy('up', e)
    }, false);
    canvas.addEventListener("mouseout", function (e) {
        findxy('out', e)
    }, false);
}

function draw() {
    if (flag){
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.lineJoin = 'round';
        ctx.lineCap = 'round';
        ctx.stroke();
        ctx.closePath();
       }
}

function erase() {
    ctx.fillStyle = "black";
    ctx.fillRect(0, 0, canvas.width, canvas.height);
}

function save() {
    var imageURI = canvas.toDataURL("image/png");
    document.getElementById("hid").value = imageURI;
}

function findxy(res, e) {
    if (res == 'down') {
        prevX = currX;
        prevY = currY;
        currX = e.clientX - canvas.offsetLeft;
        currY = e.clientY - canvas.offsetTop;
        flag = true;
        dot_flag = true;
        if (dot_flag) {
            ctx.beginPath();
            ctx.fillStyle = x;
            ctx.fillRect(currX, currY, 2, 2);
            ctx.closePath();
            dot_flag = false;
        }
    }
    if (res == 'up' || res == "out") {
        if (flag){
        save();
        }
        flag = false;
        ctx.closePath();
    }
    if (res == 'move') {
        if (flag) {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
            draw();
        }
    }
}
</script>
<style>
  body {
  background: #384047;
  font-family: sans-serif;
}

canvas {
  background: #fff;
  display: block;
  margin: 50px auto 10px;
  border-radius: 5px;
  box-shadow: 0 4px 0 0 #222;

}

.button {
  background-color: 2D5ECD;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
}
.container {
  height: 5px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

</style>

<body onload="init()">
<div class="container">
    <div class="center">
    <h4 style="font-family: Arial; color:white;">Draw a digit</h4>
    </div>
    </div>
<canvas id="can" width="135" height="135"></canvas><br><br>
    <div class="container">
    <div class="center">
        <form action="/", method="post">
            <input type="hidden" id="hid" name="hid">
            <button type="submit" class="button" value="Predict" id="pre" onclick="change_label()">Predict</button>&nbsp;&nbsp;
            <input type="button" class="button" value="Clear" id="clr" onclick="erase()">
        </form>
    </div>
    </div>
    <div class="container">
    <div class="center">
        <br><br><br>
        <h1 style="font-family: Arial; color:white;">{{result|safe}}</h1>
    </div>
    </div>
</body>
</html>